
#mainNav {
    font-family: 'PT Sans', sans-serif;
    font-size: 1vw;
}

#mainNav .margin-0-nav{
    margin: 0 !important;
}

@media (max-width: 415px) {
    #mainNav a {
        color: white;
        border-radius: 10px !important;
        font-size: 4vw;
        font-family: 'PT Sans', sans-serif;
    }
}