#detail {
    background: rgba(29, 102, 153, 1);
    height: 100vh;
}

#detail h2 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

#detail .div-center {
    justify-content: center
}

#detail h2 {
    margin-top: 20px;
}

#detail img {
    width: 100%;
}