#detail {
    background: rgba(29, 102, 153, 1);
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

#detail h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

#detail .div-center {
    justify-content: center
}

#detail h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2vw;
}

#detail img {
    width: 100%;
}

#detail .detail-carousel {
    width: 50%;
}

#detail .detail-content {
    animation: fadeInRight 1s;
}

#detail ul {
    padding-left: 20px;
}

#detail ul li {
    text-align: left;
}

#detail h3,
#detail h5 {
    margin-bottom: 0;
}

@media (max-width: 415px) {
    #detail .detail-carousel {
        width: 100%;
    }
    #detail h2 {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 6vw;
        margin-bottom: 30px;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}